@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-manrope: var(--font-manrope);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #fafafa;
  --foreground: #000000;
  --primary: #d87d4a;
  --primary-foreground: #f1f1f1;
  --secondary: #fbaf85;
  --muted: #f1f1f1;
}

@layer base {
  body {
    @apply bg-background text-foreground font-manrope flex justify-center;
  }

  .body {
    @apply w-screen max-w-[1440px] min-h-screen overflow-x-hidden;
  }
}

@utility h1s {
  @apply text-2xl;
}
