@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted: var(--primary-muted);
  --color-muted: var(--muted);
  --font-manrope: var(--font-manrope);
  --text-sm: 13px;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #fafafa;
  --foreground: #000000;
  --primary: #d87d4a;
  --primary-foreground: #f1f1f1;
  --primary-muted: #fbaf85;
  --muted: #f1f1f1;
}

@utility text-h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@utility text-h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
}

@utility text-h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.14px;
  text-transform: uppercase;
}

@utility text-h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@utility text-h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.71px;
  text-transform: uppercase;
}

@utility text-h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

@utility text-overline {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@utility text-subtitle {
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.93px;
  text-transform: uppercase;
}

@layer base {
  body {
    @apply bg-background text-foreground font-manrope flex justify-center;
  }

  .body {
    @apply min-h-screen w-screen max-w-[1440px] overflow-x-hidden;
  }
}
